body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    
}

.jumbotron {
    background-color: #0e82f5;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.card {
    margin-bottom: 1.5rem;
}
